.banner{
    flex-direction: column;
    text-align: center;
    padding: 2.5em 2em;
    background: var(--text-color);
}

.titulo_banner{
   color: var(--background-2);
   font-size: 18px;
   font-weight: 700;
}

.texto_banner{
    color: var(--background-2);
    font-weight: 500;
    margin: 1em 0;
}

.banner_pequisa{
    background-color: transparent ;
    border: 1px solid var(--background-2);
    color: var(--background-2);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner_pequisa::placeholder{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--text-font);
    text-align: center;
    color: var(--background-2);
    background: url("../assets/Pesquisa.svg") no-repeat;
    background-position: 2em;
}

@media screen and (min-width: 1024px){
    .titulo_banner{
        font-size: 36px;
        font-weight: 700;
    }

    .banner_pequisa{
        width: 50%;
    }

    .banner_pequisa::placeholder{
        background-position: 7em;
    }
}

@media screen and (min-width: 1728px) {
    .banner_pequisa{
        width: 37%;
    }

    .banner_pequisa::placeholder{
        background-position: 12em;
    }
}